<main role="main">
    <div class="content">
        <h2 class="display-3 d-flex justify-content-center">Mobile Wooza</h2>
        <p class="lead d-flex justify-content-center"><span class="border-title">Economize e fale à vontade!</span></p>

        <div class="row row-card">
            <div class="col-sm-3 card-plan">
                <div class="card">
                <div class="card-block" id="card-sign">
                        <a href="#"></a>
                    <h3 class="card-title">Computador</h3>
                    <p class="card-text">Seu computador|Sempre conectado.</p>
                </div>
                </div>
            </div>
            <div class="col-sm-3 card-plan">
                <div class="card">
                <div class="card-block" id="card-sign-4">
                    <a href="#"></a>
                    <h3 class="card-title">WI-FI</h3>
                    <p class="card-text">Internet WI-FI para|casa toda.</p>
                </div>
                </div>
            </div>
            <div class="col-sm-3 card-plan">
                <div class="card">
                <div class="card-block" id="card-inte">
                    <a href="#"></a>
                     <h3 class="card-title">Tablet</h3>
                     <p class="card-text">Chip para navegar à vontade.</p> 
                </div>
                </div>
            </div>
        </div>
    </div>
</main>