<main role="main">
        <div class="content">
            <p class="d-flex justify-content-center">Escolha o plano que mais combina com você!</p>
            <div class="row row-card">
                <div class="col-sm-3 card-plan" ng-repeat="platform in plans">
                    <div class="card">
                    <div class="card-block" id="card-sign">
                        <a ng-class="platform.nome" ng-click="plansDetail(platform.nome)"></a>
                        <h3 class="card-title">{{platform.sku | capitalize}}</h3>
                        <p class="card-text">{{platform.descricao | capitalize}}</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </main>