<main role="main">
        <div class="content">
                <h1 class="display-4 d-flex justify-content-center medium-title font">Escolha o plano que mais combina com você!</h1>
                <p class="lead d-flex justify-content-center p-title">
                        <span class="border-title font">Planos a partir de 19,90</span>
                </p>
                <ul>
                        <li class="item font" ng-repeat="plan in plans" ng-click="register(plan)">
                                <h2 class="header-card font">{{plan.franquia}}</h2>
                                <div class="box-price">
                                        <span class="span-from">a partir de</span>
                                        <span class="span-to">{{plan.valor}}</span>
                                </div>
                                <a class="btn-plan text-white text-center">CONHEÇA OS PLANOS</a>
                        </li>
                </ul>
        </div>
</main>