<main role="main">
    <div class="content">
        <div class="row">
            <div class="col md-8">
                <h1 class="display-5 d-flex justify-content-center medium-title font"> Compre Agora! Nos te ligamos </h1>
                <form class="login-form" name="form-login">
                    <label class="login-label">Nome</label>
                    <input class="login-input" type="text" placeholder="Digite seu nome" name="name" required>

                    <label class="login-label">E-mail</label>
                    <input class="login-input" type="text" placeholder="Digite seu e-mail" name="email" required>

                    <label class="login-label">Nascimento</label>
                    <input class="login-input" type="text" placeholder="Digite sua data de nascimento" name="birthday" required>

                    <label class="login-label">CPF</label>
                    <input class="login-input" type="text" placeholder="Digite seu CPF" name="cpf" required>

                    <label class="login-label">Telefone</label>
                    <input class="login-input" type="text" placeholder="Digite seu telefone" name="tel" required>

                    <input type="submit" class="btn btn-primary btn-lg btn-block login" ng-click="saveRegister()">
                </form>
            </div>
            <div class="col md-4 plan-choose-card">
                <h1 class="display-5 d-flex justify-content-center medium-title font"> Resumo do pedido </h1>
                <hr>
                <ul class="text-center">
                    <li class="text-center">Franquia de {{planChoose.franquia}}</li>
                    <li class="text-center">No Valor de
                        <span class="text-bold">{{planChoose.valor}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>