.card{
    background-color: transparent !important;
    border: transparent !important;
}

.card-block:hover{
    border-radius: 25px;
    background-color: #0064ab;
    opacity: 0.8;  
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1); 
}

.card-block{
    -webkit-transition: 1s all ease; /* Chrome and Safira */
    -moz-transition: 1s all ease; /* Firefox */
    -o-transition: 1s all ease; /* Opera */
}
.card-plan{
    margin:auto;
}

.card-title{
    text-align: center;
}

.card-text{
    text-align: center;
}

.tablet{
    background-image: url(../img/svg/text-lines-5.svg);
    display: block;
    background-repeat: no-repeat;
    height: 150px;
    margin-left: 20%;
}

.computador{
    background-image: url(../img/svg/wifi-signal.svg);
    display: block;
    background-repeat: no-repeat;
    height: 150px;
    margin-left: 20%;
}
.wi-fi{
    background-image: url(../img/svg/wifi-signal-4.svg);
    display: block;
    background-repeat: no-repeat;
    height: 150px;
    margin-left: 20%;
}