.medium-title{
    color: #efefef;
    margin: 4%;
}

.header-card{
    font-weight: normal;
    font-size: 60px;
    display: block;
    text-align: center;
    margin: 15% 0 10% 0;
}

.item .box-price {
    color: #000;
    vertical-align: top;
    font-size: 82px;
    text-align: center;
    margin-bottom: 20px;
}

.span-from {
    font-size: 0.25em;
    display: block;
    text-align: center;
    padding-right: 70px;
}

.span-to {
    margin: -3px -20px;
    display: inline-block;
    vertical-align: top;
}

.btn-plan {
    padding: 15px 0;
    display: block;
    font-size: 16px;
    background: #0064ab;
    -moz-box-shadow: 0 3px #0064ab;
    -webkit-box-shadow: 0 3px #042b46;
    box-shadow: 0 3px #042b46;
}
.item{
    border-right: 1px solid #042b46;
    float: left;
    width: 30%;
    margin-left: 3%;
    margin-bottom: 4%;
    background-color: #efefef;
    box-shadow: 10px 10px 5px grey;
    -webkit-transition: 1s all ease; /* Chrome and Safira */
    -moz-transition: 1s all ease; /* Firefox */
    -o-transition: 1s all ease; /* Opera */
}

.item:hover{
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02); 
    transform: scale(1.02);
}