@import url('card.css');

body{
    background: linear-gradient(to bottom right, grey, white); 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a{
    text-decoration: none;
}

footer{
    text-align: center;
}

.content{
    height: 700px; 
}

h2.display-3{
    color: #efefef;
    font-size: 110px;
    font-weight: 400;
}
p.lead.d-flex.justify-content-center {
    color: #efefef;
    font-size: 26px;
}

.border-title {
    display: inline-block;
    border-left: 3px solid #0064ab;
    padding-left: 20px;
}
